# ============================================================
# LLM Chatbot Model
# ============================================================

CHATBOT_MODEL=Qwen/Qwen2.5-0.5B-Instruct
CHATBOT_SERVER=http://llm
CHATBOT_SERVER_PORT=8000
CHATBOT_API_KEY=dumb


# ============================================================
# Embedding Model
# ============================================================

EMBEDDING_MODEL=Qwen/Qwen3-Embedding-0.6B
EMBEDDING_MODEL_SERVER=http://embedding
EMBEDDING_MODEL_SERVER_PORT=8000
EMBEDDING_MODEL_API_KEY=dumb


# ============================================================
# LLM Guard
# ============================================================

GUARD_MODEL_SERVER=http://llm_guard
GUARD_MODEL_SERVER_PORT=8000
GUARD_MODEL_API_KEY=dumb

GUARD_IMAGE=vllm/vllm-openai-cpu:v0.29.0
GUARD_CONTAINER_NAME=qwen3-guard
GUARD_RESTART_POLICY=unless-stopped

GUARD_PORT_HOST=8002
GUARD_PORT_CONTAINER=8000

GUARD_VOLUME=hf_cache
GUARD_VLLM_CPU_KVCACHE_SPACE=1
GUARD_VLLM_ENABLE_V1_MULTIPROCESSING=0
GUARD_VLLM_LOGGING_LEVEL=INFO

GUARD_CPUSET=0-7
GUARD_COMMAND=Qwen/Qwen3Guard-Gen-0.6B
GUARD_MODEL=Qwen/Qwen3Guard-Gen-0.6B
GUARD_HOST=0.0.0.0
GUARD_PORT=8000
GUARD_MAX_MODEL_LEN=2048
GUARD_SECURITY_OPT=seccomp=unconfined
GUARD_CAP_ADD=SYS_NICE
GUARD_NETWORK=rag-net


# ============================================================
# Qdrant
# ============================================================

QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION=test_qwen_embeddings


# ============================================================
# Streamlit
# ============================================================

STREAMLIT_URL=0.0.0.0
STREAMLIT_PORT=8501
STREAMLIT_APP_PATH=src/streamlit_app.py


# ============================================================
# MLflow
# ============================================================

MLFLOW_HOST=mlflow
MLFLOW_PORT=5000

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=egyptian-civil-code-rag
MLFLOW_BACKEND_STORE_URI=sqlite:////mlruns/mlflow.db

MLFLOW_ARTIFACT_LOCATION=/mlruns/artifacts